
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vrundavan Group</title>
    <meta name="description" content="The Center for Biomedical Blockchain Research was established to lead the efforts within Mount Sinai for the exploration and application of blockchain technology to problems in healthcare, biomedicine, and open science.">
    <meta name="author" content="Nicolás J. Engler">

    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="../static/style3.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <style>
      .preloader {
        background: #313642;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
        -webkit-transition: all .75s cubic-bezier(0.770, 0.000, 0.175, 1.000);
                transition: all .75s cubic-bezier(0.770, 0.000, 0.175, 1.000);
      }

      .preloader.is-hidden {
        opacity: 0;
      }

      @-webkit-keyframes bounce {
        50% {
          -webkit-transform: translatey(-20px);
                  transform: translatey(-20px);
        }
        100% {
          -webkit-transform: translatey(20px);
                  transform: translatey(20px);
        }
      }

      @keyframes bounce {
        50% {
          -webkit-transform: translatey(-20px);
                  transform: translatey(-20px);
        }
        100% {
          -webkit-transform: translatey(20px);
                  transform: translatey(20px);
        }
      }

      .bounce {
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
      }

      .bounce div {
        border-radius: 100%;
        height: 10px;
        width: 10px;
        background-color: #6DC978;
        -webkit-animation: bounce 1s ease-in-out infinite;
                animation: bounce 1s ease-in-out infinite;
        position: absolute;
        top: 0;
        -webkit-transform: translatey(20px);
                transform: translatey(20px);
      }

      .bounce div:first-of-type {
        left: -20px;
        -webkit-animation-delay: 0.20s;
                animation-delay: 0.20s;
      }

      .bounce div:nth-of-type(2) {
        -webkit-animation-delay: 0.10s;
                animation-delay: 0.10s;
        background-color: #F4C31E;
      }

      .bounce div:last-of-type {
        left: 20px;
        background-color: #00BDCC;
      }
    </style>
  </head>

  <body>
   

    <div class="fixed-animated-background">
      <canvas id="stars" width="300" height="300"></canvas>
    </div>

    <div class="js-fixed-navigation fixed-navigation row">
      <div class="col-9 col-sm-9 col-md-12 col-lg-6 hero__navigation__logo">
        <a href="/">
          <img src="../static/Images/logo.png" title="Vrundavan Group" class="logo" style="height:100px;">
        </a>
      </div>

      <div class="col-3 col-sm-3 col-md-12 col-lg-6">
        <ul class="hero__navigation__links d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="margin-top:40px;">
          <li class="item">
            <a href="#wwd" alt="What we do">Our Endeavours</a>
          </li>

          <li class="item">
            <a href="#about" alt="About us">Our Team Leaders</a>
          </li>

          <li class="item">
            <a href="#resources" alt="Resources">Contact Us</a>
          </li>

        </ul>
      </div>
    </div>

    <div class="hero on-top">
      <div class="container clearfix">
        <ul class="hero__navigation__links hero__navigation__mobile-menu js-mobile-menu d-none">
          <li class="item">
            <a href="#wwd" alt="What we do">Our Endeavours</a>
          </li>

          <li class="item">
            <a href="#about" alt="About us">Our Team Leaders</a>
          </li>

          <li class="item">
            <a href="#resources" alt="Resources">Contcat Us</a>
          </li>

        </ul>

        <div class="row hero__navigation wow fadeInDown" data-wow-delay="1s">
          <div class="col-9 col-sm-9 col-md-12 col-lg-6 hero__navigation__logo">
            <a href="/" title="CBB - Center for Biomedical Blockchain">
              <img src="../static/Images/logo.png" title="Vrundavan Group" class="logo" style="height:100px;">
            </a>
          </div>

          <div class="col-3 col-sm-3 col-md-12 col-lg-6">
            <ul class="hero__navigation__links d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">
              <li class="item">
                <a href="#wwd" alt="What we do">Our Endeavours</a>
              </li>

              <li class="item">
                <a href="#about" alt="About us">Our Team Leaders</a>
              </li>

              <li class="item">
                <a href="#resources" alt="Resources">Contact Us</a>
              </li>

            </ul>

            <button class="js-mobile-menu-button hero__navigation__hamburger d-block d-sm-block d-md-none d-lg-none d-xl-none">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
          </div>
        </div>
      
<!-- The Vrundavan Group has many endeavours which provides many services in various sector effeciently  and continuously Since 2001.
some of the services are as mentioned below.
1.Construction
2.Equipments
3.Minerals
4.Finance
5.Software
6.Petroleum
7.Manufacturing
8.Land Developer -->
    <div class="container">
      <div class="row">
      <div class="col-md-5 col-lg-5 col-sm-12">
        <div class="content mx-auto" style="margin-top:170px;">
        <h1 class="hero__title wow fadeIn" data-wow-delay=".5s" style="font-size:55px;">Vrundavan Group</h1>
              <h1 class="hero__title wow fadeIn" data-wow-delay=".5s" style="font-size:29px;position: relative;bottom:30px;">
                The Vrundavan Group has many endeavours which provides many services in various sector effeciently  and continuously Since 2001.
                some of the services.</h1>
              </div>
      </div>
      <!-- <div class="col-md- col-lg-7 col-sm-12">
        <div class="logos" style="background-color:#d9d9d9;margin-top:170px;">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <img src="../static/Images/logos/Untitled-1.png" style="height:200x;width:200px;">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              hello
            </div>
          </div>
        </div>
        
        </div> -->
      </div>
    </div>
      
        
  
    </div>
    <div class="container-fluid" style="background-color: black;height:200px;">
      <h1>Hello</h1>
    </div>
  
    </div>
    <!-- <div class="logos" style="background-color: #a6a6a6;height:100px;">
      <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-12">

        </div>
        <div class="col-md-2 col-lg-2 col-sm-12">
          
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12">
          
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12">
          
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12">
          
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12">
          
        </div>
      </div>
    </div>
  </div> -->


    <div id="wwd" class="what-we-do on-top">
        <div class="container-fluid clearfix">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 section-index">
              <h3 class="section-index__title">
                <span class="section-index__title__number is-green"></span> Who we are
              </h3>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 what-we-do__content">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                  <h2 class="wow fadeInUp">The Center for Biomedical Blockchain Research was established to lead the efforts within Mount Sinai for the exploration and application of blockchain technology to problems in healthcare, biomedicine, and open science.</h2>
  
                  <blockquote class="quote wow fadeIn" data-wow-offset="100">
                    The rapid growth of blockchain and its associated technologies has generated enormous hype. Our aim is to understand the relevance of this emerging technology to address real-world problems in biomedicine.
                  </blockquote>
  
                  <h5 class="wow"><span class="text">Our aims</span></h5>
  
                  <h4><span class="h4__index is-green wow">01</span> Be Scholarly</h4>
  
                  <ul class="what-we-do__content__list wow fadeIn">
                    <li class="item">Define common features of real-word problems where blockchain is useful</li>
                    <li class="item">Identify and qualify use cases</li>
                    <li class="item">Separate hope/hype</li>
                    <li class="item">Evaluate new applications</li>
                  </ul>
  
                  <h4><span class="h4__index is-orange wow">02</span> Make Stuff</h4>
  
                  <ul class="what-we-do__content__list wow fadeIn">
                    <li class="item">Prototype new applications</li>
                    <li class="item">Build communities of practice</li>
                  </ul>
  
                  <h4><span class="h4__index is-aqua wow">03</span> Translate understanding into action</h4>
  
                  <ul class="what-we-do__content__list wow fadeIn">
                    <li class="item">Bring together stakeholders</li>
                    <li class="item">Partner with industry</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="about" class="about-us on-top">
        <div class="container clearfix">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 section-index">
              <h3 class="section-index__title">
                <span class="section-index__title__number is-orange">02_</span> About us
              </h3>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-9">
              <h4 class="text-right is-white line-height-150px about-us__title-helper">Domain Expertise</h4>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2 about-us__content">
              <div class="row about-us__content__blocks">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="about-us__content__blocks__block">
                    <img class="wow fadeInUp" src="images/icons/biomedical-data.svg" title="Biomedical data" data-wow-offset="100">
                    <p class="text">Biomedical data</p>
                  </div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="about-us__content__blocks__block">
                    <img class="wow fadeInUp" data-wow-delay=".25s" data-wow-offset="100" src="images/icons/healthcare-systems.svg" title="Healthcare systems">
                    <p class="text">Healthcare systems</p>
                  </div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="about-us__content__blocks__block">
                    <img class="wow fadeInUp" data-wow-delay=".5s" data-wow-offset="100" src="images/icons/emerging-technology.svg" title="Emerging technology">
                    <p class="text">Emerging technology</p>
                  </div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="about-us__content__blocks__block">
                    <img class="wow fadeInUp" data-wow-offset="100" src="images/icons/research-science.svg" title="Research & open science">
                    <p class="text">Research & open science</p>
                  </div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="about-us__content__blocks__block">
                      <img class="wow fadeInUp" data-wow-delay=".25s" data-wow-offset="100" src="images/icons/governance.svg" title="Governance">
                      <p class="text">Governance</p>
                    </div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                  <div class="about-us__content__blocks__block">
                    <img class="wow fadeInUp" data-wow-delay=".5s" data-wow-offset="100" src="images/icons/engineering-informatics.svg" title="Engineering/Informatics">
                    <p class="text">Engineering/Informatics</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="about-us about-us--slider on-top">
        <div class="container clearfix">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2 about-us__content">
              <div class="row about-us__content__slider--controls">
                <div class="col-12 col-sm-12 col-md-6 left-controls">
                  <h5>Our team</h5>
                </div>
              </div>
  
              <div class="row about-us__content__slider--content js-team-slider" data-slide-index="1">
                <div class="col-12 col-sm-12 col-md-6 slider-photo">
                  <div class="slider-photos-container js-photos-container"><!--
                    --><img class="img-fluid d-inline-block" src="images/team/joel@2x.png" title="Joel Dudley" data-image-index="1"><!--
  
                    --><img class="img-fluid d-inline-block" src="images/team/noah@2x.png" title="Noah Zimmerman" data-image-index="2"><!--
  
                    --><img class="img-fluid d-inline-block" src="images/team/jason@2x.png" title="Jason Bobe" data-image-index="3"><!--
  
                    --><img class="img-fluid d-inline-block" src="images/team/matt@2x.png" title="Matt Johnson" data-image-index="4"><!--
  
                    --><img class="img-fluid d-inline-block" src="images/team/mark@2x.png" title="Mark Shervey" data-image-index="5"><!--
  
                    --><img class="img-fluid d-inline-block" src="images/team/nicholas@2x.jpg" title="Nicholas Tatonetti data-image-index="6"><!--
                  --></div>
                </div>
  
                <div class="col-12 col-sm-12 col-md-6 slider-info">
                  <div class="js-slider-name slider-name-container">
                    <h3 class="is-shown is-in">
                      <span class="position-controller">Joel Dudley</span>
                    </h3>
                    <h3>
                      <span class="position-controller">Noah Zimmerman</span>
                    </h3>
                    <h3>
                      <span class="position-controller">Jason Bobe</span>
                    </h3>
                    <h3>
                      <span class="position-controller">Matt Johnson</span>
                    </h3>
                    <h3>
                      <span class="position-controller">Mark Shervey</span>
                    </h3>
                    <h3>
                      <span class="position-controller">Nicholas Tatonetti</span>
                    </h3>
                  </div>
  
                  <div class="js-slider-info slider-info-container">
                    <p class="is-shown is-in">Internationally recognized investigator in translational bioinformatics and precision medicine, Joel is the Executive Vice President for Precision Health for the Mount Sinai Health System. Joel’s precision medicine work has been featured by Scientific American, CNBC, Wall Street Journal, Forbes, and other national and international media outlets.</p>
  
                    <p>Assistant Professor and Director of the Health Data and Design Innovation Center at the Mount Sinai School of Medicine. Noah’s research is aimed at improving decision-making in healthcare by developing and deploying novel data-driven technologies. Previously, Noah co-founded a venture-backed healthcare startup to deliver clinical decision support using practice patterns mined from the electronic medical record.</p>
  
                    <p>Associate Professor, Director of the Sharing Lab at the Icahn Institute for Genomics and Multiscale Biology, and Director of Democratized Health Innovation at the Institute for Next Generation Healthcare at the Mount Sinai School of Medicine. He has created several communities of practice around pivotal new technologies and emerging capabilities spanning biomedicine, biotech and health sciences.</p>
  
                    <p>Biomedical Software Developer at the Health Data and Design Innovation Center. He primarily works with mobile applications, but also works on decentralized applications and blockchain applications in healthcare. He was the grand prize winner of the 2017 NYC Blockchain Hackathon. Matt received his B.S. in Biomedical Engineering and M.S. in Electrical Engineering from Washington University in St. Louis.</p>
  
                    <p>Biomedical Software Developer at The Institute for Next Generation Healthcare at Mount Sinai. His background is from industry big data and data warehousing.  Mark is currently focusing on application development, electronic health record data, and wearable technologies. In addition, Mark will be focusing on developing and implementing blockchain solutions within the healthcare space.</p>
  
                    <p>Herbert Irving Assitant Professor of Biomedical Informatics at Columbia University. Nick's research group is dedicated to making drugs safer through analysis of patient data and his discoveries have been featured by The New York Times, The Chicago Tribune, and The Boston Globe.</p>
                  </div>
  
                  <div class="js-slider-social slider-social-container">
                    <div class="is-shown is-in">
                      <a href="https://www.linkedin.com/in/joeldudley">
                        <img src="images/linkedin.svg" title="LinkedIn">
                      </a>
  
                      <a href="https://twitter.com/jdudley">
                        <img src="images/twitter.svg" title="Twitter">
                      </a>
                    </div>
  
                    <div>
                      <a href="https://www.linkedin.com/in/noahzimmerman">
                        <img src="images/linkedin.svg" title="LinkedIn">
                      </a>
  
                      <a href="https://twitter.com/zimmeee">
                        <img src="images/twitter.svg" title="Twitter">
                      </a>
                    </div>
  
                    <div>
                      <!-- No Twitter or LinkedIn profiles provided -->
                    </div>
  
                    <div>
                      <a href="https://www.linkedin.com/in/matthew-johnson-922aa676/">
                        <img src="images/linkedin.svg" title="LinkedIn">
                      </a>
                    </div>
  
                    <div>
                      <!-- No Twitter or LinkedIn profiles provided -->
                    </div>
  
                    <div>
                      <a href="https://www.linkedin.com/in/nicholas-tatonetti-b911065/">
                        <img src="images/linkedin.svg" title="LinkedIn">
                      </a>
  
                      <a href="https://twitter.com/nicktatonetti">
                        <img src="images/twitter.svg" title="Twitter">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row about-us__content__slider--controls">
                <div class="col-12 col-sm-12 col-md-6 left-controls">
                  <span class="pager">
                    <span class="pager__current js-pager-current">1</span> / 6
                  </span>
                  <button class="slider-control js-slider-control-left">
                    <span class="arrow"></span>
                  </button>
                  <button class="slider-control is-right js-slider-control-right border-left">
                    <span class="arrow"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="resources" class="resources on-top">
        <div class="container clearfix">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 section-index">
              <h3 class="section-index__title">
                <span class="section-index__title__number is-aqua">03_</span> Resources
              </h3>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 resources__content">
              <div class="featured-content" style="background-image: url(images/content/featured.png);">
                <h4 class="is-white line-height-150px">Featured Resource</h4>
  
                <h3>Biomedical Blockchain Projects - our collection of all the existing biomedical projects leveraging blockchain</h3>
  
                <a href="https://db.biomedicalblockchain.org" class="ghost-button position-aware">
                  <span class="text">Read more</span>
                  <span class="circle"></span>
                </a>
              </div>
  
              <div class="resources-slider">
                <div class="resources-slider--wrapper js-resources-slider">
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Big Picture</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://www.nytimes.com/2018/01/16/magazine/beyond-the-bitcoin-bubble.html">Beyond the Bitcoin Bubble</a>
  
                      <p class="small ellipsis-text">Yes, it’s driven by greed — but the mania for cryptocurrency could wind up building something much more important than wealth.</p>
  
                      <span class="metadata">By Steven Johnson, New York Times (2018)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Big Picture</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://medium.com/@cdixon/crypto-tokens-a-breakthrough-in-open-network-design-e600975be2ef">Crypto Tokens: A Breakthrough in Open Network Design</a>
  
                      <p class="small ellipsis-text">Token networks remove this friction by aligning network participants to work together toward a common goal— the growth of the network and the appreciation of the token.</p>
  
                      <span class="metadata">By Chris Dixon (2017)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Big Picture</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://medium.com/@cdixon/why-decentralization-matters-5e3f79f7638e">Why Decentralization Matters</a>
  
                      <p class="small ellipsis-text">Cryptonetworks have a significantly more attractive value proposition to developers and entrepreneurs.</p>
  
                      <span class="metadata">By Chris Dixon (2018)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Big Picture</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://www.statnews.com/2017/12/27/blockchains-health-care-no-silver-bullet/">Blockchains and health care: promising and moving quickly, though no silver bullet</a>
  
                      <p class="small ellipsis-text">This technology can give us new tools to secure medical information, track pharmaceutical supply chains, and more. While blockchains have promise, they are not a panacea for health care.</p>
  
                      <span class="metadata">By Andy Coravos and Sofia Warner</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Academic</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://www.nature.com/articles/d41586-018-02641-7">AI researchers embrace Bitcoin technology to share medical data</a>
  
                      <p class="small ellipsis-text">Blockchain could let people offer health records for research — without losing control over them.</p>
  
                      <span class="metadata">Amy Maxmen, Nature (2018)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Academic</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://academic.oup.com/jamia/article/24/6/1211/4108087">Blockchain distributed ledger technologies for biomedical and health care applications</a>
  
                      <p class="small ellipsis-text">Introduces blockchain technologies, including their benefits, pitfalls, and the latest applications, to the biomedical and health care domains.</p>
  
                      <span class="metadata">By Tsung-Ting Kuo, et. al, JAMIA (2017)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Technology Primers</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="https://s3.eu-west-2.amazonaws.com/blockchainhub.media/Blockchain+Technology+Intro.pdf">Blockchain: A Beginners Guide</a>
  
                      <p class="small ellipsis-text">A practical and comprehensive guide to blockchain, web3, cryptoeconomics, tokens, smart contracts, DApps, DAOs and ICOs.</p>
  
                      <span class="metadata">By Blockchain Hub, (2017)</span>
                    </div>
                  </div>
  
                  <div class="resources-slider__slide">
                    <div class="content">
                      <div class="category wow">
                        Category <span class="highlighted">Technology Primers</span>
                      </div>
  
                      <a class="h2 ellipsis-text" href="http://investorfieldguide.com/hashpower/">Hash Power – A Documentary on Blockchains &amp; Cryptocurrencies</a>
  
                      <p class="small ellipsis-text">A three part audio documentary that explores the world of blockchain and cryptocurrencies with leaders in the field including Naval Ravikant, Olaf Carlson-Wee, Fred Ehrsam, Ari Paul, Juan Benet, Muneeb Ali, Peter Van Valkenburgh, Jeremiah Lowin, Jameson Lopp, Jordan Cooper, Josh Seims, &amp; Charlie Noyes.</p>
  
                      <span class="metadata">By Patrick O’Shaughnessy (2017)</span>
                    </div>
                  </div>
                </div>
  
                <button class="resources-slider-control js-resources-slider-left">
                  <span class="arrow"></span>
                </button>
  
                <button class="resources-slider-control is-right js-resources-slider-right">
                  <span class="arrow"></span>
                </button>
  
                <span class="pager">External Resources</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="contact" class="footer on-top">
        <div class="container clearfix">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer__subscription">
  <!--             <h4>Subscribe for updates</h4>
              <input type="text" placeholder="Name">
              <input type="email" placeholder="Email">
              <button class="position-aware" type="submit">
                <span class="text">Subscribe</span>
                <span class="circle big"></span>
              </button> -->
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 footer__content">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                  <h4>Contact us</h4>
  
                  <div class="mail-box">
                    <label>By mail</label>
  
                    <a href="mailto:info@biomedicalblockchain.org" class="mail" title="Send an email to info@biomedicalblockchain.org">info@biomedicalblockchain.org</a>
                  </div>
  
                  <div class="social">
                    <!-- <a href="#" class="social__link">
                      <img src="images/linkedin.svg" title="LinkedIn">
                    </a>
  
                    <a href="#" class="social__link">
                      <img src="images/twitter.svg" title="Twitter">
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="footer--ending on-top">
        <div class="container clearfix">
          <div class="row">
            <div class="col-6 col-sm-6 offset-3 offset-sm-3 offset-md-0 col-md-2 iso">
              <img src="images/iso.svg" title="CBB">
            </div>
          </div>
  
          <div class="row copy-links">
            <div class="col-12 col-sm-12 col-md-6 copyright">
              All Rights reserved © Center for Biomedical Blockchain Research
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 links">
              <a href="#wwd">What we do</a>
              <a href="#about">About us</a>
              <a href="#resources">Resources</a>
            </div>
          </div>
        </div>
      </div>

    <script src="../static/script2.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
